nav {
  height: 90px;
  background-color: #524a4e;
  /* position: sticky; */
  top: 0;
  z-index: 100;
  /* width: 100vw; */
}
.nav-content {
  width: 100vw;
}
.nav-link {
  color: #fdeff4;
  font-size: 14px;
  font-weight: 500;
  max-width: 450px;
  width: 100vw;
}
.nav-link a {
  position: relative;
  color: #fdeff4;
  text-decoration: none;
  padding-bottom: 2px;
  transition: color 0.3s;
  display: inline-block;
  text-align: center;
}

.nav-link a.active {
  color: #fdeff4;
}

.nav-link a::after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 2px;
  background-color: #fdeff4;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.nav-link a:hover::after,
.nav-link a.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
